*{
    font-family: 'VT323', monospace;
    padding: 0px;
    margin: 0px;
    font-size: 10px;
}

.body-container {
    text-align: center;
    background-size: 100%;
}


.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

#img-start{
    height: 100vh;
}

.image-container {
    display: flex;
    flex-direction: row;
    margin-top: 20%;
    align-items: center;
    justify-content: center;
}

.icon-start-screen {
    width: 8%;
    padding: 5px;
}

.image-character {
    width: 15%;
    padding: 20px;
}

.start-button {
    padding: 20px;
    font-size: 3rem;
    background: transparent;
    border: none;
    text-align: center;
    text-decoration: none;
    color: #2b63ff;
}

.start-button:hover {
    font-weight: 600;
    color: #84c3ff;
}

#canvas-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px 20px 10px 10px;
}

.game-container {
    position: relative;
}

canvas {
    border: 5px solid black;
    border-radius: 20px;
    margin: 40px;
}

#container-points {
    text-align: left;
    margin: 40px 0px 40px -30px;
    line-height: 15px;
    border: 3px solid black;
    border-radius: 20px;
    padding: 30px;
}

.time-text {
    align-items: center;
    display: flex;
}


#segundos {
    padding-left: 30px;
    font-size: 60px;
}

#number {
    font-size: 60px;
    margin-top: 22px;
    padding-left: 30px;
}

.points-text-score {
    margin: -20px 0px 0px 100px;
    font-size: 20px;
}

.points-text {
    display: flex;
    margin-top: 50px;
}

.score-image {
    width: 70px;
}

.time-image {
    width: 60px;
}


.jewel-text {
    font-size: 30px;
    margin-top: 40px;
    display: flex;
}

#jewelNumber {
    margin: 20px 0px 0px 30px;
    font-size: 60px;
}

.jewel-image {
    width: 60px;
}


#pauseText {
    position: absolute;
    top: 100px;
    left: 310px;
    color: white;
    font-size: 160px;
}

#gameOverTitle {
    font-size: 165px;
    margin-bottom: 60px;
}


#tryAgain {
    background-color: black;
    color: white;
    font-size: 30px;
    padding: 10px 40px 10px 40px;
}

#tryAgain:hover {
    background-color: white;
    border: 3px solid black;
    color: black;
}

#container-oxygen-full {
    overflow: hidden;
    position: relative;
}



#oxygen-empty {
    position: absolute;
    height: 150px;
    margin-top: 30px;
}

#oxygen-full {
    height: 150px;
    margin-top: 30px;

}

.image-container {
    position: relative;

}










