*{
    font-family: 'VT323', monospace;
    padding: 0px;
    margin: 0px;
    font-size: 10px;
}

.body-container {
    text-align: center;
    background-size: 100%;
}


.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

#img-start{
    height: 100vh;
}

.image-container {
    display: flex;
    flex-direction: row;
    margin-top: 20%;
    align-items: center;
    justify-content: center;
}

.icon-start-screen {
    width: 8%;
    padding: 5px;
}

.image-character {
    width: 15%;
    padding: 20px;
}

.start-button {
    padding: 20px;
    font-size: 3rem;
    background: transparent;
    border: none;
    text-align: center;
    text-decoration: none;
    color: #2b63ff;
}

.start-button:hover {
    font-weight: 600;
    color: #84c3ff;
}

#canvas-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

canvas {
    border: 2px solid #84c3ff;
    border-radius: 20px;
    margin: 10px 40px 40px 40px;
}

#container-points {
    margin: 0px -90px 10px -790px;
    text-align: left;
}


#number {
    font-size: 35px;
    color: #2b63ff;
}

.points-text-score {
    margin: -30px 0px 0px 60px;
    font-size: 25px;
    color: #2b63ff;
}

.score-image {
    width: 20px;
}

#pauseText {
    position: absolute;
    top: 100px;
    left: 310px;
    color: white;
    font-size: 160px;
}

#gameOver {
    display: flex;
    flex-direction: column;
    height: 100vh; 
}

#gameOverTitle {
    font-size: 170px;
    font-weight: 100;
    color: #2b63ff;
    padding: 15% 0px 10px 0px;
}

#tryAgain {
    background-color:#2b63ff;
    color: white;
    font-size: 25px;
    padding: 13px 40px 13px 40px;
    margin-top: 35px;
    border-radius: 10px;
}

#tryAgain:hover {
    background-color: white;
    border: 3px solid #2b63ff;
    color: #2b63ff;
}












